# Core ML/DL libraries
torch
transformers
accelerate
datasets
peft
bitsandbytes

# Vision & Image processing
Pillow

# Retrieval & Vector Search
sentence-transformers
langchain
langchain-text-splitters
langchain-community
langchain-huggingface
langchain-chroma
chromadb

# Data processing
unstructured[md]
datasets

# Utilities
hf_transfer
python-dotenv